body{
    background-color: rgb(7, 6, 6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div1{
    width: 35%;
    height: 80%;
    background-color: rgb(43, 43, 43);
    padding: 20px;
    border-radius: 15px;
}
img{
    width: 25%;
    margin: 0 auto;
    display: block;
    height: 20%;
    border-radius: 50%;
}
h1,h2,h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
h2{
    color:#9fee16ef;
}
h3{
    margin-top: 40px;
}
button{
    display: block;
    margin: 0 auto;
    width: 65%;
    height: 6%;
    border-radius: 10px;
    border: 0px;
    font-size: 16px;
    background-color:rgb(25, 24, 24) ;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color:#9fee16ef;
}
@media screen and (max-width: 900px) {
    .div1{
        width: 70%;
        height: 80%;
    }
    img{
        width: 40%;
        height: 20%;
    }
    button{
        width: 70%;
        height: 6%;
    }
    
}